{% extends "base.html" %}
{% block content %}

<h1>Edit Article</h1>

<form method="POST">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" value="{{ article.title }}"><br><br>

    {% for block in article.blocks %}
        {% if block.block_type == 'text' %}
            <label for="block_{{ loop.index0 }}">Text Block:</label><br>
            <textarea id="block_{{ loop.index0 }}" name="block_{{ loop.index0 }}" rows="5" cols="50">{{ block.content }}</textarea><br><br>
        {% elif block.block_type == 'image' %}
            <label for="block_{{ loop.index0 }}">Image URL:</label><br>
            <input type="text" id="block_{{ loop.index0 }}" name="block_{{ loop.index0 }}" value="{{ block.content }}"><br><br>
        {% elif block.block_type == 'markdown' %}
            <label for="block_{{ loop.index0 }}">Markdown Block:</label><br>
            <textarea id="block_{{ loop.index0 }}" name="block_{{ loop.index0 }}" rows="10" cols="50">{{ block.content }}</textarea><br><br>
        {% elif block.block_type == 'code' %}
            <label for="block_{{ loop.index0 }}">Code Block:</label><br>
            <textarea id="block_{{ loop.index0 }}" name="block_{{ loop.index0 }}" rows="10" cols="50">{{ block.content }}</textarea><br><br>
        {% elif block.block_type == 'video' %}
            <label for="block_{{ loop.index0 }}">Video URL:</label><br>
            <input type="text" id="block_{{ loop.index0 }}" name="block_{{ loop.index0 }}" value="{{ block.content }}"><br><br>
        {% endif %}
    {% endfor %}

    <input type="submit" value="Save Changes">
</form>

<p><a href="/articles/{{ article.id }}">Cancel</a></p>

{% endblock %}
